@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #21002F;
    height: 100dvh;
}

/* Seção 1 - formulario e imagem do ebook*/
h2 {
    color: #B4B0B5;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

h1 {
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
    max-width: 500px;
}

h3 {
    color: #E9E6EA;
    font-family: Lato, sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 400px;
}

.section-1 {
    display: flex;
    flex-direction: row;
    background-color: #21002F;
    min-height: 100dvh;
    position: relative;
    overflow: hidden;
}

/*Quadrados que compõem o background da primeira parte*/

.section-1::before {
    content: "";
    position: absolute;
    width: 700px;
    height: 700px;
    background-color: #BA3200;
    transform: rotate(45deg);
    opacity: 0.3;
}

.section-1::before {
    top: 100px;
    left: -150px;
}

/* parte de dentro do quadrado */

.section-1::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: #21002F;
    transform: rotate(45deg);
}

.section-1::after {
    top: 150px;
    left: -100px;
}

/* quadrado do lado direito */

.container-2::before {
    content: "";
    position: absolute;
    width: 700px;
    height: 700px;
    background-color: #BA3200;
    transform: rotate(45deg);
    opacity: 0.3;
    z-index: -10;
}

.container-2::before {
    top: -650px;
    right: -150px;
}

/* parte de dentro do quadrado */

.container-2::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: #21002F;
    transform: rotate(45deg);
    z-index: -10;
}

.container-2::after {
    top: -600px;
    right: -100px;
}

.container-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: -100px;
    justify-content: center;
    padding: 0 80px;
    position: relative;
    z-index: 2;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
    z-index: 2;
}

.container-2 img {
    width: 100%;
    height: auto;
}

.box-form {
    background-color: #FFF;
    border-radius: 12px;
    padding: 35px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.box-form-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.box-form p {
    color: #5B565D;
    font-family: Lato, sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 2px;
}

.box-form input {
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    height: 45px;
    width: 100%;
    padding: 0 15px;
    font-family: Lato, sans-serif;
    font-size: 14px;
}

.form-btn {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(180deg, #F16823 0%, #E25416 100%);
    border: none;
    color: #942700;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 14px;
    height: 45px;
    width: 70%;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: opacity 0.2s;
    gap: 10px;
    overflow: hidden;
}

.btn-loading {
    display: none;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    vertical-align: middle;
}

.btn-submit.loading .btn-text {
    opacity: 0;
}

.btn-submit.loading .btn-loading {
    display: block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn-submit:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

.box-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 40px;
}

/* Seção 2 - Cards dos benefícios*/

.section2 {
    background-color: #FFF;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.beneficios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    border: 1px solid #F16823;
    border-radius: 8px;
    width: 22%;
    min-height: 120px;


    transition: all 0.5s ease;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(241, 104, 35, 0.5);
}

.box p {
    color: #312E32;
    font-family: Lato, sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin: 0;
}

/* Seção 3 - Avaliações */

.section3 {
    background-color: #FF8447;
    width: 100%;
}

.container-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.container-3 h1 {
    color: #3F0853;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 26px;
    margin-top: 10px;
}

.box img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}


.container-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-4 p {
    font-family: Poppins, sans-serif;
    color: #BA3200;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.avaliacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    padding: 40px 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    text-align: center;
    position: relative;
    background-color: transparent;
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: -40px;
    z-index: 2;
    background-color: #FFF;
    position: relative;
}

.card .content {
    background-color: #FFF;
    padding: 60px 20px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Lato, sans-serif;
}

.card .content p {
    font-family: Lato, sans-serif;
    font-style: italic;
    color: #312E32;
    font-size: 16px;
    margin-bottom: 10px;
}

.card .content span {
    font-family: Lato, sans-serif;
    color: #3F0853;
    font-size: 13px;
    font-weight: 600;
}

/* footer */

.footer {
    background-color: #190023;
    color: #B4B0B5;
    padding: 20px;
    height: 50%;
}

.container-5 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.content-left,
.content-right {
    width: 50%;
}

.content-left h3,
.content-right h3 {
    padding-bottom: 10px;
    color: #FFF;
    font-family: Lato, sans-serif;
}

hr {
    background-color: #300344;
    border: none;
    height: 2px;
    width: 50%;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
    font-family: Lato, sans-serif;
    font-weight: 400;
}

.social-icons img {
    margin-right: 10px;
    width: 24px;
    height: auto;
}

.social-icons {
    display: flex;
    gap: 20px;

}

/*Modal Agradecimento*/

.modal-content {
    background-color: #FFF;
    padding: 40px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
}

.close-btn {
    background: linear-gradient(180deg, #F16823 0%, #E25416 100%);
    color: #942700;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    font-family: Poppins, sans-serif;
}


.modal h1 {
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #312E32;
}

.modal p {
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #312E32;
}

.modal span {
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #312E32;
}

/* media queries para responsividade do site*/

@media (max-width: 768px) {
    .section-1 {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }


    .btn-submit {
        width: 100%;
    }

    .container-1,
    .container-2 {
        width: 100%;
        padding: 0;
        margin: 0;
    }


    h1 {
        font-size: 28px;
        margin: 10px 0;
    }

    .container-2 img {
        width: 100%;
        height: auto;
    }

    .section-1::before,
    .section-1::after,
    .container-2::before,
    .container-2::after {
        display: none;
    }



    .section2,
    .section3 {
        height: auto;
    }


    .beneficios {
        flex-direction: column;
        padding: 20px;
    }

    .box {
        width: 100%;
        margin-bottom: 20px;
    }

    .avaliacoes {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-bottom: 20px;
    }
}